@model MVC_Project.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<head>
    <!-- Stylesheets -->
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/site.min.js"></script>
</head>

<form asp-action="addToCart">
    <section class="product-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-pic-zoom">
                        @*<img class="product-big-img" src="~images/single-product/1.jpg" alt="">*@
                        @*<img class="product-big-img" src="~/images/Products/1540348009287236357.jpg" alt="" />works*@
                        <img class="product-big-img" src="~/images/Products/@ViewData["ImgSrc"]" alt="" />@* doesn't work since it contains the relative path: http://localhost:53416/Products/Details/~images/Products/1540348009287236357.jpg*@
                    </div>

                    @*<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                            <div class="product-thumbs-track">
                                <div class="pt active" data-imgbigurl="~images/single-product/1.jpg"><img src="~images/single-product/thumb-1.jpg" alt=""></div>
                                <div class="pt" data-imgbigurl="~images/single-product/2.jpg"><img src="~images/single-product/thumb-2.jpg" alt=""></div>
                                <div class="pt" data-imgbigurl="img/single-product/3.jpg"><img src="img/single-product/thumb-3.jpg" alt=""></div>
                                <div class="pt" data-imgbigurl="img/single-product/4.jpg"><img src="img/single-product/thumb-4.jpg" alt=""></div>
                            </div>
                        </div>*@
                </div>

                <div class="col-lg-6 product-details">
                    <h2 class="p-title">@Html.DisplayFor(model => model.Name)</h2>
                    <h3 class="p-price">$ @Html.DisplayFor(model => model.Price) </h3>
                    <h4 class="p-stock">Available: <span>@ViewBag.IsAvailable</span></h4>
                    <div class="p-rating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o fa-fade"></i>
                    </div>
                    <div class="p-review">
                        <a href="">3 reviews</a>|<a href="">Add your review</a>
                    </div>
                    <div class="fw-size-choose">
                        <p>Size</p>
                        @*<select asp-for="Category" class="form-control" asp-items="ViewBag.Category"></select>*@

                        @foreach (var size in ViewBag.Size)
                        {
                            <div class="sc-item">
                                <input type="radio" name="sc" id="@size.Text">
                                <label for="@size.Text">@size.Text</label>
                            </div>
                        }
                        @*<div class="sc-item">
                <input type="radio" name="sc" id="xs-size">
                <label for="xs-size">32</label>
            </div>*@
                        @*<div class="sc-item">
                <input type="radio" name="sc" id="s-size">
                <label for="s-size">34</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="m-size" checked="">
                <label for="m-size">36</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="l-size">
                <label for="l-size">38</label>
            </div>
            <div class="sc-item disable">
                <input type="radio" name="sc" id="xl-size" disabled>
                <label for="xl-size">40</label>
            </div>
            <div class="sc-item">
                <input type="radio" name="sc" id="xxl-size">
                <label for="xxl-size">42</label>
            </div>*@
                    </div>
                    <div class="quantity">
                        <p>Quantity</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>


                    <input id="createBtn" type="submit" value="SHOP NOW" class="btn btn-primary btn-lg btn-block" />

                    <div id="accordion" class="accordion-area">
                        <div class="panel">
                            <div class="panel-header" id="headingOne">
                                <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
                            </div>
                            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="panel-body">
                                    <p>
                                        @Html.DisplayFor(model => model.Description)
                                    </p>
                                    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                        <p>Approx length 66cm/26" (Based on a UK size 8 sample)</p>
                        <p>Mixed fibres</p>
                        <p>The Model wears a UK size 8/ EU size 36/ US size 4 and her height is 5'8"</p>*@
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header" id="headingTwo">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
                            </div>
                            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="panel-body">
                                    @*<img src="./img/cards.png" alt="">*@
                                    <img src="~/images/cards.png" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-header" id="headingThree">
                                <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
                            </div>
                            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="panel-body">
                                    <h4>7 Days Returns</h4>
                                    <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-sharing">
                        <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=
http://localhost:53416/Products/Details/5/#Register&p[images]=
&p[title]=title TEST&p[summary]=sUMMARY TEST">Share on Facebook</a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-pinterest"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 </form>
    <!-- product section end -->
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>












    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsTradable)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsTradable)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
