@model IEnumerable<MVC_Project.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<!-- Stylesheets -->
<link href="~/css/animate.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/flaticon.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.min.css" rel="stylesheet" />
<link href="~/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/site.min.css" rel="stylesheet" />
<link href="~/css/slicknav.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/slider.css" rel="stylesheet" />

@*<h2>Index</h2>*@
<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- Category section -->
@*<section class="category-section spad">*@
<section class="category-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <form id="searchForm" class="header-search-form">

                    <!-- #region Search -->
                    <div class="filter-widget">
                        <div>
                            @*<form id="searchForm" asp-action="IndexPartial" asp-controller="Products" class="header-search-form">*@
                            @*<form id="searchForm" class="header-search-form">*@
                            <input type="text" name="searchBox" id="searchBox" placeholder="Search product..">
                            <button><i class="flaticon-search"></i></button>
                            @*</form>*@
                        </div>

                    </div>
                    <!-- #endregion -->
                    <!-- #region CaetegoriesFilter -->
                    <div class="filter-widget">
                        <h2 class="fw-title">Categories</h2>
                        <ul id="=" category-menu" class="category-menu">
                            <li>  <a href="#">All</a></li>
                            @foreach (var item in ViewBag.Category)
                            {
                                <li name="Category-@item.Text" id="Category-@item.Text" value="@item.Value">  <a> @item.Text</a></li>
                            }
                        </ul>
                    </div>
                    <!-- #endregion -->
                    <!-- #region PriceFilter -->
                    <div class="filter-widget mb-0">
                        <h2 class="fw-title">refine by</h2>
                        <div class="price-range-wrap">
                            <h4>Price</h4>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                                <div class="row slider-labels">
                                    <div class="col-xs-6 caption">
                                        <strong>Min:</strong> <span id="slider-range-value1" value="$@Model.Min(x => x.Price)"></span>
                                    </div>
                                    <div class="col-xs-6 text-right caption">
                                        <strong>Max:</strong> <span id="slider-range-value2" value="$@Model.Max(x => x.Price)"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                            <input type="hidden" name="min-value" id="sliderMin" value="@Model.Min(x=>x.Price) ">
                                            <input type="hidden" name="max-value" id="sliderMax" value="@Model.Max(x=>x.Price)">
                                    </div>
                                </div>
                            </div>      
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region ColorFilter -->
                    <div class="filter-widget mb-0">
                        <h2 class="fw-title">color by</h2>
                        <div class="fw-color-choose">
                            <div class="cs-item">
                                <input type="radio" name="cs" id="gray-color">
                                <label class="cs-gray" for="gray-color">
                                    <span>(3)</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="orange-color">
                                <label class="cs-orange" for="orange-color">
                                    <span>(25)</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="yollow-color">
                                <label class="cs-yollow" for="yollow-color">
                                    <span>(112)</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="green-color">
                                <label class="cs-green" for="green-color">
                                    <span>(75)</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="purple-color">
                                <label class="cs-purple" for="purple-color">
                                    <span>(9)</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="blue-color" checked="">
                                <label class="cs-blue" for="blue-color">
                                    <span>(29)</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region SizeFilter -->
                    <div class="filter-widget mb-0">
                        <h2 class="fw-title">Size</h2>
                        @*<div class="fw-size-choose">*@
                        <div class="custom-control custom-checkbox">
                            @foreach (var item in ViewBag.Size)
                            {
                                <div class="sc-item">
                                    @*<input type="radio" name="sc" id="@item.Text">*@
                                    <input type="checkbox" size="1" class="custom-control custom-checkbox custom-control-inline" name="sc" id="@item.Text">
                                    <label for="@item.Text">@item.Text</label>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- #endregion -->

                </form>
            </div>

            <!-- #region ProductCards -->
            <section id="Product" class="col-md-9">
                @{ Html.RenderPartial("IndexPartial", Model); }
            </section>
            <!-- #endregion -->


        </div>
    </div>
</section>
<!-- Category section end -->







<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTradable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTradable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <img src="~/images/Products/@item.Images[0].ImgSrc" alt="">
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Quantity.Sum(x=>x.ProdId==item.Id))
                    </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slider.js"></script>
    @*<script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/site.min.js"></script>*@
}